.setting-radio-btn-switch {
    width: 411px;
    border-radius: 20px;
    background-color: #eeeeee;
    margin: auto;
    .ant-radio-group {
        margin-bottom: 0px !important;
    }
    .ant-radio-button-wrapper {
        border: none;
        padding: 2px 2px 2px 2px;
        background-color:#eeeeee;
        width:142px;
        text-align: center;
        height: auto;
        border-radius: 20px;
    }
    .ant-radio-button-wrapper:hover {
        //background-color: var(--secondary-color);
        color: black;
    }
    .ant-radio-button-wrapper:focus-within{
        box-shadow: none;
    }
    .ant-radio-button-wrapper::before {
        height: 0;
        padding: 0;
    }
    .ant-radio-button-wrapper.ant-radio-button-wrapper-checked{
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}