.contact-list-catcon {
    margin-top: 50px;
    .action-button-space {
        .cl-action-btn {
            width: 119px;
        }
    }
    .contact-list-category-item {
        .cat-item-action-button-space {
            .cat-item-action-button {
                width: 80px;
            }
        }
    }
}

