.inv-list-item {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ant-space-item {
    margin-bottom: 0px !important;
}

.inv-sub-cat-item {
    padding: 0px 10px;
}

// .inv-main-tier {
// }