@import '~antd/dist/antd.css';
@import './themes/index.scss';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "Lato";
  src: url('../assets/fonts/fontawesome-webfont.eot');
  src: url('../assets/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
  url('../assets/fonts/fontawesome-webfont.svg#Lato Black') format('svg'),
  url('../assets/fonts/fontawesome-webfont.woff') format('woff'),
  url('../assets/fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.menu {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
}

.publicProfileHeader {
  width: 100%;
  height: 70px;
  background: var(--primary-color);
  .right-link {
    color: white;
    // text-decoration: underline;
  }

  .dv-link {
    padding: 20px;
  }
}

.myOptionButtonAnimalProfile {
  .ant-btn {
    background: transparent !important;
    border: none !important;
    height: 100% !important;
    &:hover {
      color: white !important;
    }
  }
}

.center-align-items {
  display: flex;
  align-items: center;
}

.ant-input-number-input {
  height: 20px;
}

.autocomplete-custom-input {
  .ant-select-selector {
    border-radius: 8px !important;
      padding: 4px !important;
       padding-left: 10px !important;
      height: auto !important;
      .ant-select-selection-search {
        top: 2px !important;
      }
  }
}

.ant-steps-item-process .ant-steps-item-icon {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  .ant-steps-icon {
    color:white !important;
  }
}
.ant-steps-navigation .ant-steps-item::before {
  background-color: var(--primary-color) !important;
}
.ant-steps-item-finish .ant-steps-item-icon
{
  background-color: #fff;
  border-color: var(--primary-color);
  .ant-steps-icon {
    color: var(--primary-color) !important;
  }
}

.ElementsApp  {
  border: solid 1px gray;
  padding: 4px;
}



.ant-steps .ant-steps-item:not(.ant-steps-item-active) > .ant-steps-item-container[role='button']:hover .ant-steps-item-title, .ant-steps .ant-steps-item:not(.ant-steps-item-active) > .ant-steps-item-container[role='button']:hover .ant-steps-item-subtitle, .ant-steps .ant-steps-item:not(.ant-steps-item-active) > .ant-steps-item-container[role='button']:hover .ant-steps-item-description {
  color: var(--primary-color) !important;
}

.customSelect .ant-select-selector {
  min-width: 140px !important;
  min-height: 39px !important;
  padding: 3px 12px !important;
  border-radius: 8px !important;
}

.inv_customTextAligned {
  padding-top:8px;
}

.inv_customDropDown {
  padding-left: 10px;
}

.text-align-right {
  text-align: right;
}

h2 {
  margin-bottom: 0 !important;
}
.flex-middle {
  display: flex;
  align-items: center;
}

.flex-middle-center {
  display: flex;
  align-items: center;
  justify-content: center;
}




.menu__logo {
  width: 150px;
  float: left;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  float: right;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: #3e91f7;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }
}


*::-webkit-scrollbar {
  width: 1em;
}
 
*::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border:solid 0.5px #A9A9A9;
  border-radius: 10px;
}
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  // outline: 1px solid slategrey;
  border-radius: 10px;
}


.ant-list-split .ant-list-item {
    border-bottom: 0px solid #f0f0f0;
}


.ant-select-item-option-content {
position: absolute;
}

.ant-select-item-option-content{
  margin-left: 20px;
}

.ant-input[disabled]{
  color: rgba(0, 0, 0, 0.25);
}

.ant-select-selection-placeholder{position: absolute;}

html body div#root div.default-theme div div.ant-spin-nested-loading div.ant-spin-container section.ant-layout div div div{
  z-index: 1;
}

.ant-tooltip-inner{display: none}
.ant-upload-list-item-name {color: var(--primary-color) !important;}
.ant-upload-list-item-error .ant-upload-text-icon > .anticon {color: var(--primary-color) !important;}
.ant-upload-list-item-error .ant-upload-list-item-card-actions .anticon{color: var(--primary-color) !important;}
// .ant-btn{background:var(--secondary-color) !important;}
// .ant-btn{color:black !important;}

.react-simple-image-viewer__modal{
z-index: 3 !important ;
}