.dashboard-barchart {
    width: 100%;
}

.dashboard-body {
    .chart {
        border: solid 1px #f0f0f0;
        padding: 20px 20px 12px 20px;
        border-radius: 30px;
    }
}

.dashbaordGraphYAxis {
    margin-right: 40px;
}
.ant-select-selection-item{position: absolute !important;}